/* Reset  */

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
/* Header */
header {
  background-color: #1f2937;
  height: 64px;
  width: 100vw;
  display: flex;
  align-items: center;
}

.logo {
  color: #f9faf8;
  flex: 1;
  font-size: 24px;
  justify-content: center;
  display: flex;
}

.menu {
  margin-right: 3vw;
  color: #e5e7eb;
  font-size: 18px;
  flex: 3;
  justify-content: end;
  display: flex;
  gap: 24px;
}

/* Section one styling */
.section-one {
  width: 100vw;
  height: 472px;
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main {
  width: 500px;
  height: 250px;
}
.hero-text {
  color:#f9faf8;
  font-size: 48px;
  font-weight: 800;
  margin-left: 10vw;
}
.subtext {
  color: #e5e7eb;
  font-size: 18px;
  margin-left: 10vw;
}
.main.image {
  background-color: #475465;
}

.button-div {
  height: 36px;
  width: 100px;
  background-color:#b6bdc9;
  display: flex;
  justify-content:center;
  align-items:center;
  border-radius:7px;
  margin: 7px;
  margin-left: 10vw;
}

.signup-button{
  width:100%;
  height: 100%;
  border:none;
  border-radius:5px;
  background-color:#3882f6;
  color:#f9faf8;
  font-size:17px;
  font-weight:600;
  cursor:pointer;
}

.signup-button:hover{
    
  background-color: #4f91fb;
  color: #fff;
}
